<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <appSettings>
    <add key="RecaptchaPublicKey" value="6LezuwoAAAAAAOJa62W8ArZg6h1ktpQ3Jh2yQqBY" />
    <add key="RecaptchaPrivateKey" value="6LezuwoAAAAAANwAF9xX4kvNHdQ13vesQibwAAd7" />
    <add key="AdminUser" value="csells" />
    <add key="AdminPasswordMd5" value="6d6e35dfa064d663449b24808ab0a8e6" />
    <add key="SiteId" value="2" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="smtp.gmail.com" port="587" enableSsl="true" userName="sb.com.noreply@gmail.com" password="PutYourPasswordHere" />
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings configSource="web-connections.config" />
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <httpRuntime />
    <compilation debug="true" targetFramework="4.5.1">
      <assemblies>
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication />
    <!--<authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>-->
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
      </namespaces>
    </pages>
    <httpHandlers>
      <add verb="*" path="*.mvc" validate="false" type="System.Web.Mvc.MvcHttpHandler" />
    </httpHandlers>
    <httpModules>
      <add name="BasicAuthSingleAdminUserModule" type="sb4.BasicAuthSingleAdminUserModule " />
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="UrlRoutingHandler" />
      <remove name="MvcHttpHandler" />
      <add name="MvcHttpHandler" preCondition="integratedMode" verb="*" path="*.mvc" type="System.Web.Mvc.MvcHttpHandler" />
      
      
      
      
      
      
    <remove name="ExtensionlessUrlHandler-Integrated-4.0" /><remove name="OPTIONSVerbHandler" /><remove name="TRACEVerbHandler" /><add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" /></handlers>
    <rewrite>
      <rules>
        <clear />
        <rule name="dipqueen" stopProcessing="true">
          <match url="^dipqueen(/(.*))?$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="sites/dipqueen/{R:2}" />
        </rule>
        <rule name="news/showTopic to Post/Details" stopProcessing="true">
          <match url="^news/showTopic.aspx" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{QUERY_STRING}" pattern="ixTopic=([0-9]+)" />
          </conditions>
          <action type="Redirect" url="Posts/Details/{C:1}" appendQueryString="false" />
        </rule>
        <rule name="ask the wonk">
          <match url="^askthewonk(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="/content/poststuff/writing/askthewonk{R:1}" />
        </rule>
        <rule name="default.aspx, index.htm[l]" stopProcessing="true">
          <match url="(.*)/(default.aspx|index.html?)$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Redirect" url="{R:1}/" />
        </rule>
        <rule name="misc. files">
          <match url="^([^/]+)/(.+\.(bmp|jpg|png|gif|jpeg|zip|avi|wmv|wav|doc|docx|xls|xlsx|pdf|txt|h|cpp|chm|exe|reg|application|deploy|msi|htm|html))$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="content/poststuff/{R:1}/{R:2}" />
        </rule>
        <rule name="excuses service" stopProcessing="true">
          <match url="^excuses/excuses.asmx$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="code/excuses.asmx" />
        </rule>
        <rule name="Bill's Money" stopProcessing="true">
          <match url="^fun/billsmoney.htm$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="posts/details/12372" />
        </rule>
        <rule name="Burning Man" stopProcessing="true">
          <match url="^fun/burningman/?$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="posts/details/12343" />
        </rule>
        <rule name="centerfold" stopProcessing="true">
          <match url="^fun/centerfold/?.*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="Posts/Details/12644" />
        </rule>
        <rule name="Day with .NET" stopProcessing="true">
          <match url="^fun/daywithdotnet/?.*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="posts/details/12645" />
        </rule>
        <rule name="msiview" stopProcessing="true">
          <match url="^fun/msiview/?.*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="interview" />
        </rule>
        <rule name="emailAnger" stopProcessing="true">
          <match url="^posts/emailAnger.aspx$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="posts/details/12574" />
        </rule>
        <rule name="giantSuckingSound" stopProcessing="true">
          <match url="^posts/giantSuckingSound.aspx$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="posts/details/12571" />
        </rule>
        <rule name="vs.netFunFacts" stopProcessing="true">
          <match url="^posts/vs.netfunfacts.aspx$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="posts/details/12594" />
        </rule>
        <rule name="spout archive" stopProcessing="true">
          <match url="^spout/archive.aspx$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="spout" />
        </rule>
        <rule name="genghis" stopProcessing="true">
          <match url="^tools/genghis/?.*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="news/showTopic.aspx?ixTopic=12655" />
        </rule>
        <rule name="wahoo" stopProcessing="true">
          <match url="^wahoo/?" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="news/showTopic.aspx?ixTopic=12661" />
        </rule>
        <rule name="rss &amp; atom" stopProcessing="true">
          <match url="^news/(rss2|atom1|rss).aspx" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="posts?format={R:1}" />
        </rule>
        <rule name="mail" stopProcessing="true">
          <match url="^mail/?$" />
          <action type="Redirect" url="http://mail.sellsbrothers.com" />
        </rule>
        <rule name="archive.aspx" stopProcessing="true">
          <match url="^news/archive.aspx$" />
          <action type="Redirect" url="/" />
        </rule>
      </rules>
    </rewrite>
    <staticContent>
      <mimeMap fileExtension=".reg" mimeType="text/plain" />
      <mimeMap fileExtension=".opml" mimeType="text/xml" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <!-- make blog posts >64KB work -->
    <!--<services>
      <service name="sb4.WindowsLiveWriter">
        <endpoint binding="webHttpBinding" bindingConfiguration="higherMessageSize" contract="System.Data.Services.IRequestHandler" />
      </service>
    </services>-->
    <bindings>
      <webHttpBinding>
        <binding name="higherMessageSize" maxReceivedMessageSize="5000000" />
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>