@model dynamic

@section TitleContent {

	Comment Submitted

}



    <p>Thank you for your comment. It will be considered by management.</p>

    <p>In the meantime, you can continue to enjoy <a href="@ViewData["postLink"]">the post</a> on which you just commented.</p>



@section HeaderContent {


}

