<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="sellsbrothersEntities" connectionString="metadata=res://*/sellsbrothers.csdl|res://*/sellsbrothers.ssdl|res://*/sellsbrothers.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=64.85.8.110;Initial Catalog=sellsbrothers;Persist Security Info=True;User ID=sellsbrothers2;Password=8sql12db;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="SiteId" value="2" />
  </appSettings>
</configuration>